<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.subrosagames.subrosa.mobile.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Access device's location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Custom permission for receiving GCM notifications -->
    <permission android:name="com.subrosagames.subrosa.mobile.android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.subrosagames.subrosa.mobile.android.permission.C2D_MESSAGE"/>

    <application
            android:name="SubrosaApplication"
            android:label="@string/appname"
            android:icon="@drawable/icon">
        <activity
                android:name=".home.HomeActivity"
                android:label="@string/appname">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".target.ViewTargetActivity"/>
        <activity android:name=".settings.SettingsActivity"/>
        <activity android:name=".authentication.AuthenticationActivity"/>

        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.subrosagames.subrosa.mobile.android" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService"/>

    </application>
</manifest> 
